body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1568191009535-7d8b407d389a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fHN1bW1lciUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

h1 {
  color: #fc9595;
  font-size: 35px;
  font-weight: 100;
  line-height: 45px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #fc9595;
  font-size: 16px;
  font-weight: 100;
  height: 26px;
}

ul li :nth-child(1) {
  font-size: 20px;
}
li::first-letter {
  text-transform: capitalize;
}

small {
  display: block;
  padding: 0 400px;
}
a {
  text-decoration: none;
  color: #074e47;
}
form {
  padding-top: 20px;
}
.form-control {
  border-radius: 20px;
}
.search-button,
#location-button {
  position: relative;
  background-color: #074e47;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.weather-app-wrapper {
  box-sizing: content-box;
  margin: 30px 250px;
}

.weather-app {
  box-shadow: 5px 5px 10px;
  padding: 20px;
  border: 1px solid #074e47;
  border-radius: 32px;
  box-shadow: 30;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-top: -25px;
  margin-right: 10px;
  height: 75px;
  width: 75px;
}
.weather-temperature strong {
  color: #074e47;
  font-size: 65px;
  line-height: 1;
  font-weight: 300;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -28px;
  text-decoration: none;
}

.weather-temperature .active {
  color: #074e47;
  cursor: default;
}

::placeholder {
  color: #074e47;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #074e47;
}

.forecast-date {
  font-size: 17px;
}

.forecast-temperature-min {
  opacity: 0.4;
}

.forecast-temperature {
  font-size: 14px;
}
